body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  background-color: #1e89cc;
  text-align: center;
  padding: 20px;
}

.heading {
  text-align: center;
  color: #2e2d2d;
  margin: 50px;
  font-family: 'Roboto Slab';
  font-size: 60px;
}

.break { /*end of line*/
  display: block;
  margin-bottom: 15px;
  font-size: 40px;
} 

section {
  padding-top: 70px;
}

/* Bio Section */

#bio {
  margin: 40px;
  background-color: #f4f4f9;
  border-radius: 8px;
}

#bio img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#bio p {
  font-size: 40px;
  font-weight: bold;
  color: #2e2d2d;
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto Slab';
}

#bio p span {
  transition: transform 0.3s ease;
  display: inline-block;
}

#bio p span:hover {
  transform: scale(1.1);
}

.bio-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: grey 0px 20px 30px -10px;
}


/* Project Section */

#projects {
  text-align: center;
  background-color: #f4f4f9;
  margin: 20px;
  border-radius: 8px;

}

#projects a {
  text-decoration: none;
  color: #0073e6;
  font-family: 'Roboto Slab';
}

#projects p {
  font-size: 17px;
  color: #2e2d2d;
  font-family: 'Roboto Slab';
  margin-top: 10px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* fit 3 project "card" each "line*/
  gap: 20px;
  /* make space for each "card of the proejct*/
}

.project-card {
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  transition: transform 0.3s;
  height: 200px;
  flex-direction: column;
  box-shadow: grey 0px 20px 30px -10px;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-title {
  font-size: 30px;
  font-weight: bold;
  color: #0073e6;
}

/* Skill Section */

#skills div {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 40px;
  box-shadow: grey 0px 20px 30px -10px;
}

#skills h3 {
  text-align: center;
  color: #0073e6;
  font-family: 'Roboto Slab';
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

#skills h3:hover {
  transform: scale(1.1);
}

#skills ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#skills li {
  font-size: 30px;
  color: #292727;
  margin: 8px;
  font-family: 'Roboto Slab';
}
 /* icon for each skill/framework*/
.pytorch::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: -2px;
  background-image: url("images/pytorch.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.numpy::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: -2px;
  background-image: url("images/numpy.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.pandas::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: -2px;
  background-image: url("images/pandas.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.fastai::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: -10px;
  background-image: url("images/fastai.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.python::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: -2px;
  background-image: url("images/python.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.cplusplus::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: -2px;
  background-image: url("images/cplusplus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

/* Experience Section */

#experience ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* fit 3 project "card" each "line*/
  gap: 20px;
  /* make space for each "card of the proejct*/
}

#experience li {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  transition: transform 0.3s;
  height: 200px;
  flex-direction: column;
  box-shadow: grey 0px 20px 30px -10px;
  font-size: 25px;
  color: #2e2d2d;
  font-family: 'Roboto Slab';
  text-align: center;
  display: flex;
  margin-bottom: 40px;
}

#experience li:hover {
  transform: translateY(-5px);
}


/* Education Section */

#education {
  border-radius: 8px;
  margin: 40px auto;
  text-align: left;
  width: 80%;
}

.education-block {
  background: #fff;
  box-shadow: grey 0px 20px 30px -10px;
  border-left: 7px solid #0073e6;
  padding: 40px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.education-degree {
  position: relative;
  padding-bottom: 15px;

}

.education-degree h3 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  color: #2e2d2d;
  font-family: 'Roboto Slab';
  padding-top: 20px;
}

#education p {
  font-size: 25px;
  margin: 5px 0 0 0;
  color: #0073e6;
  font-family: 'Roboto Slab';
}


#education p:before {
  content: '';
  position: absolute;
  left: -54px;
  top: 39px;
  width: 20px;
  height: 20px;
  background: #0073e6;
  border-radius: 50%;
  box-shadow: 0 0 5px #0073e6;
}

.school {
  transition: color 0.3s;
}

.school:hover {
  color: #0a3f75;
}

.preview {
  display: none;
  position: absolute;
  width: 300px;
  height: 270px;
  top: -200px;
  left: 20px;
  background-color: white;
  box-shadow: grey 0px 20px 30px -10px;
  border-radius: 20%;
}



.school:hover .preview {
  display: block;
}

.education-block:hover {
  transform: scale(1.03);
}



/* Hobbies section */

#hobbies {
  border-radius: 15px;
  max-width: 850px;
  margin: 60px auto;
  text-align: center;
}

#hobbies ul {
  list-style: none;
  padding: 100px;
  margin: 0;
  background: #fff;
  box-shadow: grey 0px 20px 30px -10px;
  border-radius: 15px;
}

#hobbies ul li {
  font-size: 30px;
  color: #2e2d2d;
  padding: 18px;
  transition: color 0.3s ease, padding-left 0.3s ease;
  border-bottom: 1px solid #dfedf0;
}


#hobbies ul li:hover {
  color: #0073e6;
  padding-left: 30px;
}



#resume {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

#resume a {
  text-decoration: none;
  color: #4CAF50;
}


/* Navigation Bar*/

ul.topnav {
  list-style-type: none;
  background-color: #0073e6;
  position: sticky;
  top: 0;
  padding: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

ul.topnav li {  
  float: none;
  padding-left: 20px;
}


ul.topnav li a, .dropdown button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  font-family: 'Roboto Slab';
  font-size: 22px;
  position: relative;
  transition: transform 0.3s ease;
  border: 4px solid white;
  border-radius: 10px;
}


ul.topnav li a:hover{
  background-color: #40E0D0;
  transform: translateX(5px);
  color: black;
}


ul.topnav li.right {
  margin-left: auto;
}

 /* add contact me section inside the navigation bar*/
.contact {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #181c24;
  border: 4px solid #40E0D0;
  border-radius: 15px;
  padding: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  animation: slideup 0.7s forwards;
}


.contact.hidden {
  display: none;
}

.contact h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: -30px;
  color: white;
}

.contact label {
  display: block;
  margin-top: 30px;
  font-family: 'Roboto Slab';
  font-size: 30px;
  color: white;
}

.contact input{
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-family: 'Roboto Slab';
  background-color: white;
}

.contact textarea {
  width: 100%;
  padding: 15px;
  padding-bottom: 50px;
  margin-top: 10px;
  border-radius: 5px;
  font-family: 'Roboto Slab';
  background-color: white;
}

.contact textarea::placeholder{
  top: 0%;
  right: 0%;
}

.contact textarea {
  resize: none;
}

#closeBtn {
  background-color: #181c24;
  color: white;
  border: 6px solid white;
  border-radius: 100%;
  cursor: pointer;
  width: 55px;
  height: 55px;
  margin-top: 10px;
  position: absolute;
  right: 50px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;  
}


.submitBtn {
  background-color: #181c24;
  color: white;
  border: 5px solid white;
  padding: 13px 30px;
  cursor: pointer;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  font-size: 25px ;
}


.contact button:hover {
  background-color: white;
  color: #181c24;
}


/* Drop Down  for the More section*/



.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
}

.dropdown-content a {
  background-color: #0073e6;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Animation for the contact me ssection*/
@keyframes slideup{
  0% {
    transform: translateX(-50%) translateY(100%);
  }
  100% {
    transform: translateX(-50%) translateY(0%);
  }
}


/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #1e89cc;
  color: white;
  font-size: 20px;
}

.social-links a {
  color: white;
  margin-left: 6px;
  font-size: 35px;
}

.social-links a:hover {
  color: #40E0D0;
}